*{padding: 0;margin: 0;}
body{
    background-color: #fff;
    min-width: 1200px;
    width: 1920px;

    &::-webkit-scrollbar{
        width: 0;
        height: 0;
    }
}
.wrapper{
    display: grid;
    // background-image: url(./img/Doob_2.png);
    background-repeat: repeat-y;
    background-size: 100%;


    font-family: 'Lato', sans-serif;
    
    width: 100%;
    min-height: 500px;

    grid-template-columns: 370px repeat(6, 196.5px) 380px;
    grid-template-rows: 160px 800px 600px 620px 900px 680px 620px 400px;

    .logo{
        grid-area: 1 / 1 / span 1 / span 1;
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        p{
            border-bottom: 3px red solid;
            font-size: 1.5em;
        }

    }

    .header_ul{
        display: flex;

        justify-content: start;
        align-items: center;
        grid-area: 1 / 2 / span 1 / span 6;

        li{
            margin-right: 60px;
            display: inline;
            font-size: 1.1em;

            a{
                text-decoration: none;
                color: #314584;
            }
            
            &::after{
                content: ".";
                color: #314584;
            }
            &:hover{
                transform: rotate(360deg) scale(1.8) translateY(-1px);
                cursor: pointer;
                transition: .7s;
            }
            a::selection{
                background-color: black;
                color: white;
            }
            a:link{
                color: #314584;
            }
            a:active{
                color: initial;
                background-color: initial;
            }
        }
    }

    .contact_us{
        grid-area: 1 / 6 / span 1 / span 2 ;

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-left: 85px;

        .language{
            p{
                color: #314584;
                font-size: 1.2em;
                
                &::after{
                    content: "⇓";
                    transform: rotate(90deg);
                    width: 20px;
                }
            }
        }
        
        .button_contact_us{
            transition: 1s;

            border: none;
            width: 200px;
            height: 60px;
            color: red;
            font-size: 1.2em;
            background-color: inherit;
            box-shadow: 4px 5px 13px 1px grey;

            display: flex;
            align-items: center;
            justify-content: center;

            
            &::after{
                content: "→";
                font-size: 1.9em;
                
                text-align: center;
                vertical-align: super;
            }
            
            &:hover{
                background-color: #FF4359;
                color: white;
            }
        }
    }

    .hero_title{
        grid-area: 2 / 2 / span 1 / span 3;

        display: inline-flex;
        flex-flow: wrap column;
        align-items: center;
        justify-content: center;

        p{
            text-align: unset;
            font-family: 'Lato', sans-serif;
            margin: 10px 0;

        }
        p:nth-child(1){
            font-size: 5em;
            color: #464e90 ;

            &::selection{
                background-color: #464e90;
                color: white;
            }
        }
        p:nth-child(3){
            font-size: 0.9em;
            color: grey;

            &::selection{
                background-color: grey;
                color: white;
            }
        }

        div{
            width: 100%;

            margin: 20px 0;

            button{
                font-size: 1.5em;
                border: none;
                border-radius: 1em;
                padding: 10px 40px;
            }
            button:nth-child(1){
                background-color: #ff4359;
                color: white;

                &:hover{
                    transform: translateY(-10px);
                    box-shadow: 1px 5px 8px 5px grey;
                    transition: .8s;
                }
            }
            button:nth-child(2){
                background-color: initial;
                color: #464e90 ;

                &:hover{
                    transform: translateY(-10px);
                    box-shadow: 1px 5px 8px 5px grey;
                    transition: .8s;
                }
            }
        }
    }

    .img_hero_ilustration{
        grid-area: 2 / 5 / span 1 / span 4;
        background-image: url(./img/Hero_ilustration.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

    }

    .service{
        display: flex;
        flex-flow: nowrap row;
        justify-content: flex-start;
        align-items: center;
        


        grid-area: 3 / 2 / span 1 / span 6;

        .title{
            display: flex;
            flex-flow: nowrap column;
            justify-content: flex-start;
            align-items: flex-start;
            max-width: 390px;
            padding: 10px;

            p{
                font-size: 3em;
                font-family: 'Lato', sans-serif;
                color: #464e90;

                &::selection{
                    background-color: #464e90;
                    color: white;
                }
            }
            button{
                font-size: 1.3em;
                border: none;
                border-radius: 1em;
                padding: 10px 40px;
                color: white;
                margin: 20px 0;
                background-color: #ff4359;

                &:hover{
                    transform: translateY(-10px);
                    box-shadow: 1px 5px 8px 5px grey;
                    transition: .8s;
                }
            }
        }
        .service_child{
            max-width: 320px;
            box-shadow: 3px 6px 13px 1px grey;
            padding: 25px;
            margin: 25px;
            font-family: 'Lato', sans-serif;

            

            img{
                margin: 10px 20px 40px 40px;
            }

            
            p:nth-child(2){
                font-size: 2em;
                
                color: #464e90;

                &::selection{
                    background-color: #464e90;
                    color: white;
                }
            }
            p:nth-child(4){
                font-size: 1em;
                color: grey;
                text-align: start;

                &::selection{
                    background-color: grey;
                    color: white;
                }
            }
        }
    }

    .about_img{
        grid-area: 4 / 1 / span 1 / span 4;

        display: flex;
        flex-flow: nowrap column;
        align-items: center;
        justify-content: center;

        img{
            margin-left: 20%;
        }
    }
    .about_title{
        grid-area: 4 / 5 / span 1 / span 3;
        font-family: 'Lato', sans-serif;

        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;

        p:nth-child(1){
            color: #ff4359;
            font-size: 1em;

            &::selection{
                background-color: #ff4359;
                color: white;
            }
        }
        p:nth-child(3){
            color: #464e90;
            font-size: 4em;

            &::selection{
                background-color: #464e90;
                color: white;
            }
        }
        p:nth-child(5){
            color: #464e90;
            font-size: 1.2em;

            &::selection{
                background-color: #464e90;
                color: white;
            }
        }
    }
    .portfolio{
        grid-area: 5 / 2 / span 1 / span 6;

        display: flex;
        flex-flow: nowrap column;

        .text{
            display: flex;
            justify-content: space-between;

            p{
                color: #464e90;
                font-size: 2.8em;

                &::selection{
                    background-color: #464e90;
                    color: white;
                }
            }
            div{
                display: flex;
                align-items: center;

                img{
                    margin: 5px;
                }
            }
            
        }
        .text_footer{
            P{
                color: red;
                font-size: 1.9em;
                text-align: center;
                margin: 40px;

                &::selection{
                    background-color: red;
                    color: white;
                }
            }
        }
        .img{
            display: flex;
            flex-flow: wrap row;
            flex-basis: 30%;
            justify-content: space-between;
            align-items: center;
            img{
                margin: 15px 0;
            }
        }
    }
    .blog{
        grid-area: 6 / 2 / span 1 / span 6;

        display: flex;
        flex-flow: nowrap column;
        justify-content: stretch;
        align-items: stretch;

        .text{
            display: flex;
            justify-content: space-between;

            div{
                p:nth-child(1){
                    font-size: 1.3em;
                    color: red;

                    &::selection{
                        background-color: red;
                        color: white;
                    }
                }
                p:nth-child(3){
                    font-size: 3.7em;
                    color: #464e90;

                    &::selection{
                        background-color: #464e90;
                        color: white;
                    }
                }
            }
            .arrow{
                display: flex;
                align-items: center;
                img{
                    margin: 5px;
                }
            }
        }
        .posts{

            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            margin: 50px 0;

            .post{
                width: 30%;
                padding: 20px;
                box-shadow: 3px 6px 13px 1px grey;
                margin: 0 20px;

                color: #464E90;
                background-color: #fff;

                p::selection{
                    background-color: #464e90;
                    color: white;
                }

                &:nth-child(1){
                    color: white;
                    background-color: #ff3946;

                    p::selection{
                        background-color: #fff;
                        color: #ff3946;
                    }
                }

                p{
                    margin: 15px;
                    margin-bottom: 25px;
                }
                p:nth-child(1){
                    font-size: 1.5em;
                }
                p:nth-child(2){
                    font-size: 1.1em;
                }
                p:nth-child(3){
                    font-size: 1.1em;
                }
                .arrow{
                    display: flex;
                    justify-content: flex-end;
                }


            }
        }
    }
    .contact{
        grid-area: 7 / 2 / span 1 / span 6;
        display: flex;
        flex-flow: column nowrap;

        .title{
            p{

                &:nth-child(1){
                    color: #ff3946;;
                    font-size: 1.35em;

                    &::selection{
                        background-color: #ff3946;
                        color: white;
                    }
                }
                &:nth-child(2){
                    color: #314584;
                    font-size: 3.8em;
                    margin: 20px 0;

                    &::selection{
                        background-color: #464e90;
                        color: white;
                    }
                }
            }
        }
        form{

            fieldset{
                border: none;
                display: grid;
                grid-template-columns: repeat(2, 570px);
                grid-template-rows: 60px 100px 50px;
                grid-gap: 30px;

                input{

                    border: none;
                    background-color: rgba(0, 153, 255, .05) ;
                    padding: 15px;
                    font-size: 1.2em;
                    color: #314584;
                    font-family: 'Lato', sans-serif;

                    // email
                    &:nth-child(1){
                        grid-area: 1 / 1 / span 1 / span 1;
                    }
                    // subject
                    &:nth-child(2){
                        grid-area: 1 / 2 / span 1 / span 1;
                    }
                    // message
                    &:nth-child(4){
                        grid-area: 3 / 1 / span 1 / span 3;
                        background-color: #ff3946;
                        width: 200px;
                        margin: auto;
                        padding: 20px;
                        border-radius: 30px;
                        color: white;
                        font-size: 1.2em;

                        &:hover{
                            transform: translateY(-10px);
                            box-shadow: 1px 5px 8px 5px grey;
                            transition: .8s;
                        }
                    }

                }
                textarea{                    
                    grid-area: 2 / 1 / span 1 / span 3;
                    width: 1170px;

                    border: none;
                    background-color: rgba(0, 153, 255, .05) ;
                    padding: 15px;
                    font-size: 1.2em;
                    color: #314584;
                    font-family: 'Lato', sans-serif;
                }

            }
        }
    }
    footer{
        grid-area: 8 / 1 / span 1 / span 8;
        background-color: #314584;
        color: white;
        text-align: center;

        padding: 40px;

        p{
            margin: 20px;
            &::selection{
                background-color: white;
                color: #314584;
            }
        }
        h1{
            font-size: 3.4em;
            color: #ff4359;
            margin: 20px;
            &::selection{
                background-color: #ff4359;
                color: #324584;
            }
        }
        .ul_footer_link{
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            
            
            li{
    
                margin: 10px;
                list-style-type: none;
                
                a{
                    text-decoration: none;
                    transition: 1s;
                    color: white;
                    
                    &:after{
                        content: "";
                    }
                    &:active{
                        color: white;
                    }
                    &:link{
                        color: white;
                    }
                    &:visited{
                        color: white;
                    }
                    &:hover{
                        transform: scale(1.4);
                    }
                }
            }
    
        }
        .ul_icon_link{
            display: inline-flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            margin: 10px;


            li{
                transition: 1s;
                list-style-type: none;
                margin: 0 20px;

                a{
                    text-decoration: none;
                    transition: 1s;
                    color: white;
                    
                }
                .facebook:hover{
                    transform: scale(1.4);
                }
                .twitter:hover{
                    transform: scale(1.4) rotate(360deg);
                }
                .dribble:hover{
                    transform: scale(1.4) rotate3d(5, 5, 5, 45deg);
                }
            }
        }
    }
}